{% extends 'base.html.twig' %}

{% block title %}
    Reporte
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/reportStyles/bootstrap.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="col-md-12">
			<?php
				$nombres[1]="Juan";  
				$nombres[2]="Lizeth"; 
				$nombres[3]="Ana";
				$incidentes = rand(1,10);
				$fecha[1]="28 de Abril del 2016"; 
				$fecha[2]="9 de Julio del 2016"; 
				$fecha[3]="28 de Septiembre del 2016";
				$fechavalue[1]="2016-04-28T12:00"; 
				$fechavalue[2]="2016-05-25T12:00"; 
				$fechavalue[3]="2016-06-27T12:00";
				$monitoreo[1]="Sistema de agua cruda"; 
				$monitoreo[2]="Filtro de arena"; 
				$monitoreo[3]="Filtro de carbón";
				$codigo[1]="PM-101"; 
				$codigo[2]="PM-102"; 
				$codigo[3]="PM-103";
				$errores = rand(1,3);
			  ?>
			<p>Buen dia, {{ info.user.name }} {{info.user.lastName}} </p>

			<p >Al igual que cada semana, remitimos este correo para mantenerlo al tanto del estado actual sobre la planta que digire, por lo tanto le informamos:</p>
		</div>
		<br><br>
		<div class="col-md-4"><img src="{{ asset('public/img/reportImg/img1.png')}}" id="img-info"></div>
		<br><br>
		<div class="col-md-6">
			<p id="titulo-fechas">Fecha de inicio de reporte de monitoreo:{{ info.from|date('d-m-Y H:i') }}</p>
			<br>
			<br>
			<p id="titulo-fechas">Fecha final de reporte de monitoreo: {{info.to|date('d-m-Y H:i')}} </p>
			<br><br>
			<p>A fecha <b style="color:#1d59bf;">{{info.to|date('F jS \\a\\t g:ia')}}</b> los puntos de monitoreo registrados presentaron <b style="color:#960303;">{{ info.numDanger }}  error al sobrepasar los límites de estandar de calidad</b>. Asi mismo, se registraron <b style="color:#f6b38e;">{{ info.numRisk }} incidentes</b>	 que tienen tendencia a acercarse al límite de error de estándar de calidad.</p>
		</div>		
	</div>
	<br>
	<br>

	<div class="container">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
					<th colspan="3"  id="th-titulo-peligro">Reporte de alertas ({{ info.numDanger }})</th>
					</tr>
					
					<tr>
						<th style="color:#b03333;">Puntos de monitoreo</th>
						<th style="color:#b03333;">Código</th>
						<th style="color:#b03333;"># errores</th>
					</tr>
				</thead>
				<tbody>
				

					{% for i in 0..info.numDanger %}
					    <tr>
					    	{#<td>{{}}</td>
					    	<td>{{}}</td>
					    	<td>{{}}</td>#}
					    	hola
					    </tr>
					{% endfor %}
					
					<?php

					for ($i=0; $i <$errores ; $i++) { 
					echo "<tr>";
					echo "<td>".$monitoreo[rand(1,3)]."</td>";
					echo "<td>".$codigo[rand(1,3)]."</td>";
					echo "<td>".$errores."</td>";
				  	echo "</tr>";	
					}
					
					?>
					
					
				</tbody>
				
			</table>
		</div>
	</div>

	<div class="container">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
					<th colspan="3"  id="th-titulo-advertencia">Reporte de alertas(<?php echo $incidentes; ?>)</th>
					</tr>
					
					<tr>
						<th style="color:#dd8935;">Puntos de monitoreo</th>
						<th style="color:#dd8935;">Código</th>
						<th style="color:#dd8935;"># errores</th>
					</tr>
				</thead>
				<tbody>
					<?php

					for ($i=0; $i <$incidentes  ; $i++) { 
					echo "<tr>";
					echo "<td>".$monitoreo[rand(1,3)]."</td>";
					echo "<td>".$codigo[rand(1,3)]."</td>";
					echo "<td>".$errores."</td>";
				  	echo "</tr>";	
					}
					
					?>
				</tbody>
				
			</table>
		</div>
	</div>



	<div class="container">
		<div class="col-md-12">
			<p>Si necesita modificar el envío de fechas, puede comunicarse con nosotros a través de <u>reportes@waposat.com</u>. Recuerde que ante cualquier duda, estamos dispuestos a servirle.</p>
			<br>
			<br>
			<p><b>Atentamente</b></p>
			<p style="color:#1d59bf;">Soporte técnico waposat</p>

		</div>
	</div>

	<div class="container">
		<div class="col-md-12">
		<hr class="hr-inicio">
			<p class="parrafo-final"><img src="{{ asset('public/img/reportImg/img4.png') }}" class="img-final">:Si no va a reciclar, no imprima este e-mail. Y si lo va a imprimir, use ambos lados. ¡Gracias!</p>
		<hr class="hr-final">
			<p class="parrafo-final2">El contenido del presente mensaje es de carácter confidencial, la información esrelevante y de exclusivo interés para su destinatario. En caso lo haya recibido por error deberá abstenerse de usarlo, reproducirlo o dinfudirlo en forma parcial o total; mucho agradecemos eliminarlo y notificarlo al remitente y/o a <u style="color:blue;">reporte@waposat.com</u>.</p>
			
			<p class="parrafo-final2">El siatema de correo electrónico de Wapsat está destinado exclusivamente para sus propios fines conforme la Ley, normas y sus propias directivas. La información contenida está sujeta a la protección de derechos de autor y de las comunicaciones.</p>
		</div>
	</div>
{% endblock %}
