{% extends 'base2.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/style2.css') }}">
    <link href='https://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="image-container col-xs-6 col-md-6" style="height: 100vh;">
    <img src="{{ asset('river2.png') }}" height="120%">
</div>
<div class=" col-xs-6 col-md-6 text-center center-block">
    <figure>
        <img src="{{ asset('Gota_Waposat_117x147.png') }}">
        <figcaption style="margin-left: 20%;margin-right: 20%;">
            <h2 class="rock bigFont azulwapo">LogIn</h2>
            <h3>To mark your attendance just type your data or passes your card</h3>
        </figcaption>
    </figure>
    <form action="{{ path('login') }}" method="post" class="col-md-4 col-md-offset-4" style="margin-top: 40px;">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Email:</label>
            <!--<div class="col-sm-10">-->
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
           <!-- </div>-->    
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password:</label>
            <input type="password" class="form-control" id="password" name="_password" />   
        </div>
        <input type="hidden" name="_target_path" value="homePage" />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">login</button>
            </div>    
        </div>
    </form>
</div>
    
{% endblock %}

